[2014-11-28 18:57] bertfrees opened #5 "Clearly separate CSS media embossed vs. print"
E.g. always wrap print CSS in `@media print { }` , even inside style attributes.

[code]

css:inline could have an option "media" (&lt;media-query&gt;) to filter the stylesheets and only inline rules that match the media query.

[2014-12-17 13:16] bertfrees opened #8 "Improve documentation"
Improve both the developer documentation (Javadocs, XProc docs, etc.) and the user guide.

Depends on the new website: daisy/pipeline-tasks/issues/5.

[2014-12-18 09:17] bertfrees opened #9 "Support endnotes"
Depends on https://github.com/snaekobbi/braille-css-spec/issues/5

[2014-12-22 16:02] bertfrees opened #10 "Support :flow(...) pseudo-class"
See http://snaekobbi.github.io/braille-css-spec/#h4_the-flow-pseudo-class
- [ ] Support in Java (jStyleParser)
- [X] Support in XSLT: see https://github.com/snaekobbi/pipeline-mod-braille/commit/0b4531230e566f687386c55cb01d77d76c76c55d

[2014-12-22 16:07] bertfrees opened #11 "Support type and attribute selectors with namespace prefix"
Example:

[code]

See
- http://www.w3.org/TR/css3-namespace
- http://www.w3.org/TR/css3-selectors/#typenmsp
- http://www.w3.org/TR/css3-selectors/#attrnmsp

[2014-12-22 19:31] bertfrees opened #12 "Flow footnotes to the bottom of the page on which the footnote reference occurs"
Depends on https://github.com/snaekobbi/braille-css-spec/issues/6

[2015-01-06 12:55] bertfrees opened #13 "Support volumes"
Support the CSS features described in the section [Volumes](http://snaekobbi.github.io/braille-css-spec/#h2_volumes).

See pull request: https://github.com/daisy/pipeline-mod-braille/pull/61

To do:
- [@volume rule](http://snaekobbi.github.io/braille-css-spec/#h3_the-volume-rule) (including [volume pseudo-classes](http://snaekobbi.github.io/braille-css-spec/#dfn-volume-pseudo-class) like :first)

[2015-01-06 13:27] bertfrees opened #14 "Support tables"
Support the CSS features described in the section [Tables](http://snaekobbi.github.io/braille-css-spec/#tables).

Depends on
- [ ] https://github.com/snaekobbi/braille-css-spec/issues/4
- [x] https://github.com/joeha480/dotify/issues/105

[2015-01-06 13:36] bertfrees opened #15 "Custom numbering with @counter-style rules"
- [x] Support `symbols()` function in XSLT
- [x] Support `symbols()` function in Java (while formatting)
- [ ] Support `@counter-style` in `css:inline`
- [ ] Support `@counter-style` in XSLT
- [ ] Support `@counter-style` in Java (while formatting)

Related issues:
- https://github.com/snaekobbi/braille-css-spec/issues/9
- https://github.com/joeha480/obfl/issues/26

[2015-01-06 13:44] bertfrees opened #16 "Support cross-references"
To do:
- [ ] fix cross-references between sections (https://github.com/joeha480/dotify/issues/97)

Related issues:
- https://github.com/snaekobbi/braille-css-spec/issues/34

[2015-01-06 13:46] bertfrees opened #17 "Support leaders"
To do:
- [ ] fix page number after leader (https://github.com/joeha480/obfl/issues/31)

Related issues:
- https://github.com/snaekobbi/braille-css-spec/issues/21

[2015-01-06 14:00] bertfrees commented on #15
Possible implementation of @counter-style support in Java (while formatting):
- The '@counter-style' style sheet is read (input or option) and based on this a Translator is generated and registered on the fly. The Translator has a unique identifier that is meant to be used as the mode parameter.
- ~~When the method `translate(int value, String style)` is called, the Translator applies the counter

[2015-01-06 14:13] bertfrees opened #18 "Enhance x:obfl-compare"
Enhance the XProcSpec utility step "x:obfl-compare" for comparing OBFL documents.

Done
- [x] Normalize layout-master names

To do:
- [ ] Correctly normalize space
- [ ] Normalize anchor/item names

[2015-01-06 14:13] bertfrees opened #19 "obfl:validate"
Add a step for validating OBFL documents.

[2015-01-06 14:19] bertfrees opened #20 "Thread safety"
Ensure thread safety because multiple jobs may run in parallel.

[2015-01-06 14:30] bertfrees opened #21 "Consistent CSS parsing"
Perform all (Java) CSS parsing with jStyleParser instead of a mixture of jStyleParser and custom regex based parsers.

Related issues:
- https://github.com/snaekobbi/jStyleParser/issues/2

[2015-01-06 17:45] bertfrees opened #22 "Control translation"
- [ ] Support text-transform property in `CSSStyledTextTransform`/`CSSBlockTransform` implementations
- [ ] Support text-transform property in @counter-style rules
- [ ] Support text-transform property in Dotify's `BrailleTranslator`s (note that API needs to change for this)

Depends on:
- https://github.com/snaekobbi/braille-css-spec/issues/12

[2015-01-06 19:06] bertfrees opened #23 "Support print pages"
Support the CSS features described in the section [Indication of Original Pagination](http://snaekobbi.github.io/braille-css-spec/#h2_original-pagination).

Depends on:
- [ ] https://github.com/snaekobbi/braille-css-spec/issues/14

[2015-01-06 19:30] bertfrees opened #24 "Support letter spacing"
- [x] ~~Either~~ **make it a translator (TextTransform) feature** ~~or a formatter (dotify-formatter) feature~~.
- [x] ~~Either~~ **add a 'letter-spacing' property**, ~~reuse the 'text-transform' property (https://github.com/snaekobbi/braille-css-spec/issues/12), or somehow support letter spacing in translator queries~~.
- [x] Implement 'letter-spacing' in liblouis translator.
- [x] Implement 'wor

[2015-01-06 19:31] bertfrees commented on #24
In case we make it a formatter feature, the TextTransform API might have to be enhanced in order to be able to get the mapping between input and output.

[2015-01-06 19:32] bertfrees opened #25 "Support line numbers"
Depends on:
- [ ] https://github.com/snaekobbi/braille-css-spec/issues/16

[2015-01-06 19:34] bertfrees opened #26 "Support line spacing"
Depends on:
- [x] https://github.com/snaekobbi/braille-css-spec/issues/18
- [x] https://github.com/snaekobbi/braille-css/issues/5
- [x] https://github.com/joeha480/dotify/issues/132

[2015-01-06 19:35] bertfrees opened #27 "Support double-sided printing"
Depends on:
- [x] https://github.com/snaekobbi/braille-css-spec/issues/19

[2015-01-06 19:37] bertfrees opened #28 "Support vertical positioning"
Depends on:
- [ ] https://github.com/snaekobbi/braille-css-spec/issues/20
- [ ] https://github.com/snaekobbi/braille-css/issues/2

[2015-01-06 19:41] bertfrees opened #29 "Support text flow into header/footer"
Make flowing into header/footer configurable. In liblouis-formatter text _always_ flows into the header/footer, whereas in dotify-formatter text _never_ flows into header/footer.

Depends on:
- https://github.com/snaekobbi/braille-css-spec/issues/22

[2015-01-07 10:42] bertfrees opened #30 "Support collapsing margins"
To do:
- [x] support collapsing margins in OBFL/Dotify
- [x] support (non-)collapsing margins in dotify:format

Related issues:
- [ ] https://github.com/snaekobbi/braille-css-spec/issues/29
- [x] https://github.com/joeha480/obfl/issues/27
- [x] https://github.com/joeha480/obfl/issues/29

[2015-01-07 12:35] bertfrees opened #31 "Fully support named strings"
Support the CSS features described in the section [Named Strings](http://snaekobbi.github.io/braille-css-spec/#h3_named-strings).

Depends on:
- https://github.com/snaekobbi/braille-css-spec/issues/17

Related issues:
- [x] https://github.com/joeha480/obfl/issues/24

[2015-01-07 12:51] bertfrees opened #32 "Support hanging indentation"
Supported in Liblouis based renderer but not yet in Dotify based renderer.

Depends on:
- [ ] <del>https://github.com/joeha480/obfl/issues/30</del>
- [x] https://github.com/joeha480/dotify/issues/99

[2015-01-07 12:55] bertfrees opened #33 "Allow negative left/right margins"
Supported in Liblouis based renderer but not yet in Dotify based renderer.

Depends on:
- [ ] [obfl#30](http://code.google.com/p/obfl/issues/detail?id=30)

[2015-03-06 10:16] #32 closed, assigned to bertfrees

[2015-03-06 10:22] bertfrees commented on #32
Rebased

[2015-03-09 15:54] bertfrees opened #34 "liblouis-tables 2.6.2"

[2015-03-09 16:00] bertfrees opened #35 "LiblouisTableProvider that uses lou_findTable"
Depends on:
- [ ] https://github.com/liblouis/liblouis-java/issues/1

[2015-03-16 22:31] bertfrees opened #36 "Possible enhancements to system of transformer selection"
The braille production scripts are build around a system of "transformers" that can delegate to sub-transformers, and transformer "providers" that can delegate to other providers. Almost everything is a transformer. Even the top-level scripts exist of only a css:inline step and a px:transform step (which is an XProc step for selecting and executing a transformer).

Transformers come in different t

[2015-04-08 11:41] bertfrees opened #37 "Support (Swiss) German braille code"
To do:
- [x] Integrate German liblouis tables
- [x] Integrate German libhyphen tables
- [ ] Currently SBS's braille translation system involves an XSLT that uses multiple liblouis tables. That functionality probably needs to be ported to the new system somehow. (see https://github.com/snaekobbi/pipeline-mod-sbs/issues/2)

Depends on:
- [ ] https://github.com/snaekobbi/liblouis/issues/5
- [x] https

[2015-04-08 11:50] bertfrees opened #38 "Support Finnish braille code"
To do:
- [x] Integrate Finnish liblouis tables
- [x] Higher level translator component

Depends on:
- [x] https://github.com/snaekobbi/liblouis/issues/1
- [x] https://github.com/snaekobbi/pipeline-mod-braille/pull/34
- [x] https://github.com/snaekobbi/issues/issues/14

[2015-04-08 11:56] bertfrees opened #39 "Support Dutch braille code"
To do:
- [x] Integrate Dutch liblouis tables
- [x] Higher level translator component

Depends on:
- [ ] https://github.com/snaekobbi/liblouis/issues/6
- [x] https://github.com/snaekobbi/issues/issues/14

[2015-04-08 11:57] bertfrees opened #40 "Support Danish braille code"
To do:
- [x] Integrate Danish liblouis tables
- [x] Higher level translator component

Depends on:
- [ ] https://github.com/snaekobbi/liblouis/issues/2
- [x] https://github.com/snaekobbi/issues/issues/14

[2015-04-08 11:58] bertfrees opened #41 "Support Norwegian braille code"
To do:
- [x] Integrate Norwegian liblouis tables
- [x] Higher level translator component

Depends on:
- [ ] https://github.com/snaekobbi/liblouis/issues/4
- [x] https://github.com/snaekobbi/issues/issues/14

[2015-04-08 12:02] bertfrees opened #42 "Support Swedish braille code"
To do:
- [x] Integrate Swedish <del>liblouis table or</del> Dotify translator
- [x] Higher level translator component

Depends on:
- [ ] ~~https://github.com/snaekobbi/liblouis/issues/3~~
- [x] https://github.com/snaekobbi/issues/issues/14

[2015-04-08 12:46] bertfrees commented on #37
@egli I suggest that we somehow extract the translation stuff from dtbook2sbsform and make that into a DTBook specific CSSBlockTransform (see [CSSBlockTransform.java](https://github.com/daisy/pipeline-mod-braille/blob/f672eb118f8a65988a8e719d86b43ed6902f6ba9/pipeline-braille-utils/common-utils/src/main/java/org/daisy/pipeline/braille/common/CSSBlockTransform.java)). Next we convert that into an EP

[2015-05-04 09:28] bertfrees opened #43 "EPUB 3 to PEF script"
Could use an html-to-pef script internally.

[2015-05-05 12:07] bertfrees opened #44 "Use dotify.hyphenator.impl in texhyph-utils"
mainly to support UTF-8 encoded pattern files.

[2015-05-07 10:51] bertfrees opened #45 "DTBook to PEF script"
We have several options:
1. Currently dtbook-to-pef uses dtbook-to-zedai and zedai-to-pef.
2. We can use [nordic-epub3-dtbook-migrator](https://github.com/nlbdev/nordic-epub3-dtbook-migrator) and [epub3-to-pef](https://github.com/snaekobbi/pipeline-mod-braille/issues/43)
3. A direct conversion.
4. No script. The reasoning is that if the conversion is just a wrapper around a dtbook-to-epub3 step an

[2015-05-07 17:20] bertfrees commented on #38
We need a translator component that uses the Finnish liblouis table and that handles text-level semantics the way it is currently implemented in https://github.com/snaekobbi/functional-testing/blob/75a469f8357b2a7d62fdbf19ab0527974dd97b53/src/test/38/translate.xsl (for HTML input). We could build a generic component for this but I expect that at some point more specific processing will be required

[2015-05-07 17:45] bertfrees commented on #41
We need a translator component that uses the Norwegian liblouis table and that handles text-level semantics the way it is currently implemented in https://github.com/snaekobbi/functional-testing/blob/2ed459ab17986646228defc43474cbd7f3e766e7/src/test/38/translate-no.xsl (for HTML input). We could build a generic component for this but I expect that at some point more specific processing will be req

[2015-05-08 08:07] bertfrees commented on #26
@jukkae Maybe this is a good starting point for you to get familiar with the whole system? Explore what needs to be done in the various parts (CSS, OBFL, PEF, liblouis, dotify, pipeline-mod-braille; I list them all but not all will need work of course) to support line spacing and make an overview here.

[2015-05-08 08:13] bertfrees commented on #27
@jukkae This could be another topic for you to explore. What needs to be done in the various parts (CSS, OBFL, PEF, liblouis, dotify, pipeline-mod-braille) to support double-sided printing and make an overview here.

[2015-05-08 08:31] bertfrees commented on #26
I don't think there is a single straightforward solution for this problem. It very much depends on the granularity with which we want to configure line spacing.

Something I don't find in the requirements but that I know we talked about is that when alternating lines on odd and even pages ([4.4:75](http://dev.pef-format.org/dp2/master/index.xhtml#4.4:75)), the headers and footers might still have

[2015-05-18 14:59] bertfrees opened #46 "Dutch hyphenation"
See https://github.com/snaekobbi/issues/issues/2 for the various options for implementing a hyphenator.

[2015-05-18 14:59] bertfrees commented on #46
Maybe a useful tip from CBB (Christelijke Bibliotheek voor Blinden en Slechtzienden): they use a version of hyph_nl_NL.dic from [OpenTaal](http://www.opentaal.org).

[2015-05-20 15:06] bertfrees commented on #44
Done. See https://github.com/daisy/pipeline-mod-braille/commit/276e43520791df24a1a95ce8367e89caaa4c4875

[2015-05-20 15:06] #44 closed, assigned to nobody

[2015-05-21 14:25] dkager commented on #46
The OpenTaal data sounds promising. Will look at this next week and maybe you can fill me in on the best way to implement this in mod-braille (from what I read there is OpenOffice data available for this dict).

[2015-05-28 08:25] dkager commented on #46
I'm guessing [this](http://cgit.freedesktop.org/libreoffice/dictionaries/tree/nl_NL/hyph_nl_NL.dic) is the hyphenation dictionary from OpenTaal.org that CBB is using. Maybe I can use the same approach as in snaekobbi/issues#2 for this?
I don't have test data yet, so integrating the dictionary into mod-braille could be done first.

[2015-05-28 08:48] bertfrees commented on #46
The dictionary you linked is the one that is already included in Pipeline. I think CBB was maybe referring to an updated version. We'd have to ask them.

We need test data before we can do anything else. Then, if you need to modify the dictionary, it's best you copy the file to a new project (like Jukka did with pipeline-mod-celia) because the dictionary from LibreOffice is downloaded and packaged

[2015-05-28 08:55] dkager commented on #46
I believe the OpenTaal data dates from 2011, but I'll see if I can confirm this with someone from CBB.
What sort of test data are you looking for?

[2015-05-28 09:51] bertfrees commented on #46
Hyphenated words I guess. I understand you may not have that kind of data just lying around. But if there's nothing to test then our job is done. Then we just take what's currently available. I think at the minimum we should have a small test, if only so we can easily add more to it later. Jukka's test data is also very limited, but it's easy to add more. He did it in pipeline-mod-celia because th

[2015-06-02 06:58] dkager commented on #46
So if I understand this correctly, we have:
- The hyphenation dict in mod-braille.
- Generic code to use this dict also in mod-braille.

And we need:
- Test data in functional-testing.

For Finnish the test data is in the JUnit test case. I could clone this into another module, but think it would be a bit nicer to have something similar to liblouis' harness tests for this. I.e. experts only worry

[2015-06-02 09:46] bertfrees commented on #46
I suggest we use XML instead of JSON. Something like [this](https://github.com/snaekobbi/functional-testing/blob/master/src/resources/43.1/data.xml). If everybody includes test data in that format in the functional-testing repo, then I can have one test (JUnit or XSpec) that runs them all. Of course from the point of view of the developer it is nice to have to tests closer to the implementation, b

[2015-06-10 08:09] bertfrees opened #47 "Make frequent releases"
- without SNAPSHOTs
- with SemVer
- with changelogs

Going one step further would be to not ever have SNAPSHOTs in the master branch.

[2015-06-10 08:22] bertfrees opened #48 "Clean up API"
Go though all public Java classes and other public resources (XSLT/XProc/CSS) listed in catalog.xml (library.xpl, library.xsl, etc) and only keep those public that strictly need to be. Dependencies between modules can be loosened (made less explicit) with Declarative Services, with Require-/Provide-Capability, or by simply merging modules (see also issue https://github.com/snaekobbi/pipeline-mod-b

[2015-06-10 09:51] bertfrees opened #49 "Many modules doesn't mean you have a modular system"
But it should! We are in the situation that we have a lot of modules (bundles) that are all coupled to each other. You don't actually have the choice to include a module or not. A further problem of having many modules is that it can become unclear what the functionality of each modules is. The fact is that often the only reason two components are in separate modules is to avoid circular dependenc

[2015-06-10 10:31] bertfrees opened #50 "pf:transform"
Or: an XPath function that works on nodes in general instead of text nodes (pf:text-transform).

First I have to check whether this is possible at all. (**EDIT**: yes it is possible)

The function signature would be `node()* pf:transform(`~~`xs:string type,`~~`xs:string query, node()* input)`. It would use transformers of type "DOMTransform", "SAXTransform", etc.

**EDIT**: removed 'type' argument

[2015-06-11 06:15] dkager commented on #47
I think it is enough (and even desirable) to have predifined points in time where topic branches are merged into master, so that work in the next iteration can be based on that. Of course this could lead to having to do integration patches before your code is even finished, but on the other hand it avoids a rush of fixing merge conflicts and regressions right before pushing out a stable release.

[2015-06-11 14:04] bertfrees commented on #47
What do  you mean with that?

Yes, that's what I meant with "not ever have snapshots in the master branch". For external modules that's a good idea, for internal modules that's maybe too limiting, we'll see how it works out.

[2015-06-15 13:33] josteinaj commented on #43
blocked on: daisy/pipeline-mod-braille#30

[2015-06-15 13:33] josteinaj commented on #45
blocked on: daisy/pipeline-mod-braille#30

[2015-06-16 06:49] dkager commented on #47
I mean that we need to know what versions of external components are pulled in. If we build with liblouis 2.6.2, then code should work with that version. If it is changed to 2.6.3, then that version needs to be made to work. But IMO one development cycle (iteration) should stick with the same external dependencies, at least on daisy/pipeline-mod-braille/master. Which brings me to my next point...

[2015-06-16 07:31] bertfrees commented on #47
We know the versions of external components, they are defined in bom/pom.xml, which is imported via the parent.

Master is owned by daisy. Me and Romain are the only ones who are pushing to it. If you mean having a master in snaekobbi which is not an exact copy, then I wouldn't call it master. But anyway, whatever it's called, what did you have in mind for it? I don't know extreme programming, so

[2015-06-16 07:57] dkager commented on #47
A brief explanation of what I meant:
Say you did some work on the framework and API of mod-braille. Just after that I want to implement a feature that uses your new code. To do this I would have to merge your branch, fix any merge conflicts, then do my work. If many people start doing this it becomes hard to know which branch has which code in it. Hence why I suggested to have a master branch for

[2015-06-16 08:58] bertfrees commented on #47
OK this is exactly the kind of problems I have to deal and which I had in mind when writing https://github.com/daisy/pipeline-mod-braille/issues/30#issuecomment-112084215. It's also one of the reasons I wrote in the [meeting notes from 2015-06-04](https://docs.google.com/document/d/1Efhy4WLuEkBUdqKserBUV6HedOmpQPb0vxDt9oAyiJY/edit#heading=h.yfgahhp9vxo0)
that I want to avoid a lot of long-lived fe

[2015-07-02 11:34] bertfrees commented on #45
@stesk Which version of DTBook did you say Nota uses today? 1.1.0 (http://www.daisy.org/z3986/specifications/Z39-86-2002.html#DTBookDTD)? I don't think we need to take a lot of special precautions, maybe an extra CSS file (it depends on the compatibility between the DTBook versions). But I want to make it clear in the requirements anyway.

[2015-07-02 11:42] stesk commented on #45
@bertfrees Yes, that's the one.

[2015-07-07 10:43] bertfrees commented on #38
See https://github.com/snaekobbi/pipeline-mod-celia/commit/7e991a09a7e196a34d1e3110b38fb3d1f5750f2b

[2015-07-07 10:55] bertfrees commented on #37
The liblouis tables live in [sbsdev/sbs-braille-tables](https://github.com/sbsdev/sbs-braille-tables) (branch pipeline2). The libhyphen tables live in [sbsdev/sbs-hyphenation-tables](https://github.com/sbsdev/sbs-hyphenation-tables). Both are dependencies of [snaekobbi/pipeline-mod-sbs](https://github.com/snaekobbi/pipeline-mod-sbs).

A stub for a custom CSSBlockTransform has been created: see htt

[2015-07-07 10:58] bertfrees commented on #41
See https://github.com/snaekobbi/pipeline-mod-nlb/commit/cb2ce6230719e8725c15fbd23b59231dfb793228

[2015-07-07 11:00] bertfrees commented on #40
For now we're using the default Danish tables that come with liblouis.

[2015-07-07 11:03] bertfrees commented on #40
Higher level translator component: see https://github.com/snaekobbi/pipeline-mod-nota/commit/6e5d7f6e2e0686e30c5538841b122167c08634a5

[2015-07-07 11:03] bertfrees commented on #39
Higher level translator component: see https://github.com/snaekobbi/pipeline-mod-dedicon/commit/b83cbac2bece36b07d65499256af2ffc66bb23a0

[2015-07-07 11:10] bertfrees commented on #42
Higher level translator component: see https://github.com/snaekobbi/pipeline-mod-mtm/commit/e34a62d43c83924e79d8c3d9e4ee5619502adba6.

The Swedish Dotify translator is used for pre-translation.

Inline formatting is currently not supported, but it could be if I make use of the `translate(String text, TextAttribute attributes)` method of `BrailleTranslator`. (Pre-)hyphenation is currently not suppo

[2015-07-09 08:09] joeha480 commented on #42
I prefer not using pre-translation if possible, because then I can add support for non-standard hyphenation and also line breaking aware translation

[2015-07-09 08:44] bertfrees opened #51 "Support translation while formatting in dotify:format"
We could either have `obfl:style` elements with name `text-transform:none` for all text that is pre-translated, or we could just translate all text that is not Unicode braille yet.

[2015-07-09 08:44] bertfrees commented on #42
See https://github.com/snaekobbi/pipeline-mod-braille/issues/51

[2015-07-09 19:02] bertfrees commented on #45
Fixed by commit https://github.com/daisy/pipeline-mod-braille/commit/7d9ce376c174be2a212372c82852a455a5e3136b (option 3: direct conversion). DTBook 1.1.0 is not addressed yet.

[2015-07-10 10:00] joeha480 commented on #51
Is there a downside to just translate?

[2015-07-10 10:05] bertfrees commented on #51
Don't know. Possibly you get unexpected results, i.e. if Unicode braille is not translated to Unicode braille or if something happens with white space or hypenation marks. I just want to make sure "pre-translated" is indeed "pre-translated" and not "translated twice".

[2015-07-23 10:48] bertfrees commented on #41
@usama49 When you have managed to build pipeline-mod-nlb, maybe you could have a look at the custom translator ([block-translate.xsl](https://github.com/snaekobbi/pipeline-mod-nlb/blob/cb2ce6230719e8725c15fbd23b59231dfb793228/src/main/resources/xml/block-translate.xsl)) and accompanying test ([test_translator.xprocspec](https://github.com/snaekobbi/pipeline-mod-nlb/blob/cb2ce6230719e8725c15fbd23b5

[2015-07-23 11:05] bertfrees commented on #38
@jukkae So I added a custom translator ([block-translate.xsl](https://github.com/snaekobbi/pipeline-mod-celia/blob/7b18abc84c429d59c8bff242dbca30e33cc2bca1/src/main/resources/xml/block-translate.xsl)) for Finnish. Could you have a look and see if it behaves the way you want, possibly by extending the test ([test_translator.xprocspec](https://github.com/snaekobbi/pipeline-mod-celia/blob/7b18abc84c4

[2015-08-06 09:55] bertfrees commented on #26
So @jukkae will investigate what needs to happen in the specification (https://github.com/snaekobbi/braille-css-spec/issues/18) and in the various components of the system to support line spacing. Then we'll discuss it together before putting the plan into practice.

[2015-08-06 13:55] bertfrees opened #52 "Make braille translator contract more strict with respect to white space"
Related issues:
- [ ] https://github.com/snaekobbi/braille-css-spec/issues/30

[2015-08-19 10:16] bertfrees commented on #28
Fixed by https://github.com/daisy/pipeline-mod-braille/commit/63689e18a3095ff1d58bca09633bea9a1dc7ec50

[2015-08-19 10:16] #28 closed, assigned to bertfrees

[2015-08-19 11:02] jukkae commented on #26
OBFL currently supports what we want to do with line-height satisfactorily, at least when we take into account a couple of peculiarities with margins.

Suggestions for specification:
- Add line-height property to CSS specification. The property could be defined quite similarly to vanilla CSS: "On a block container whose content is composed of inline elements, 'line-height' specifies the height of

[2015-08-19 11:12] bertfrees commented on #26
Great!

I will take care of updating the CSS specification. @jukkae Do you want to give a shot at implementing line-height in mod-braille? The modules that need changes are braille-css (separate project now), css-utils and dotify-formatter.

We'll also need to update the CSS spec + implementation for giving an offset to verso-pages, but we can look at that afterwards.

[2015-08-19 11:16] jukkae commented on #26
Sure, I'll have a look at the implementation.
Regarding verso pages, we can probably do something similar to what Joel did at MTM (extending verso page headers upwards by one row).

[2015-08-19 11:20] bertfrees commented on #26
Yup, that's what I was thinking too. CSS need to be extended a little for that.

[2015-08-21 09:24] bertfrees commented on #37
staged

[2015-08-24 12:45] joeha480 commented on #26
I have updated the OBFL spec. to be a bit clearer about margins vs. row-spacing:
https://github.com/joeha480/obfl/commit/fe32c15739a424c729b92625f3bff6d7a4f8885b

[2015-08-24 12:51] bertfrees commented on #26
Nice. FYI I've updated the CSS spec too: https://github.com/snaekobbi/braille-css-spec/issues/18

[2015-09-01 14:19] josteinaj opened #53 "xml-stylesheet processing instruction does not seem to work"
Some quick tests indicate that this does not work:

`<?xml-stylesheet href="stylesheet.css" media="embossed"?>`

Not sure how important it is though...

[2015-09-01 14:25] bertfrees commented on #53
Correct. I plan to add support for it. This would be a replacement for `<link/>` elements in DTBook (which is illegal).

[2015-09-01 15:17] josteinaj commented on #53
I thought it was illegal as well, but after checking the DTD it seems to be allowed:

http://www.daisy.org/z3986/2005/dtbook/dtbookdoc.html

[code]

In the DTD changelog comments it seems like `<style>` was allowed in an earlier DTBook version as well:

[code]

Nota uses DTBook v1.0.0 so as long as we don't validate the input DTBook, maybe `<style>` elements could be supported as well (assuming it

[2015-09-01 15:29] bertfrees commented on #53
Oh, okay then. Still I'd like to support the processing instruction, but this makes it less urgent I guess.

Because we don't validate (yet), `<style/>` is already supported in DTBook.

[2015-09-03 08:23] dkager commented on #53
This bit me as well after copy-catting the processing instruction from existing test data (Norwegian I believe). The <link/> approach works well, but is not as clean IMO. Of course in the long run we'd want to use the 'Default stylesheet' feature, so I guess this is a minor issue.

[2015-09-03 08:41] bertfrees commented on #53
Actually I was going to remove the "default-stylesheet" option, because it doesn't really make sense to change the default behavior of the system, and to avoid confusion (see https://github.com/daisy/pipeline-mod-braille/issues/34).

Instead I might add a "stylesheet" option, which will be evaluated after the default style sheet and before any other styles defined in the document. Whether of not I

[2015-09-03 08:50] dkager commented on #53
The `<link/>` approach, because it means adding something to the document's <head/> instead of merely instructing the processor to do something.

The default stylesheet option looks like a useful feature because you can process an existing document, e.g. one you use for generating digital text files, without having to alter it. But any other solution that allows the user to specify the name of a s

[2015-09-03 09:12] dkager opened #54 "Alert the user when undefined input characters are encountered"
- [ ] snaekobbi/liblouis#11
- [ ] Abort processing on liblouis error.
- [ ] Show the phrase that caused the error.

[2015-09-03 09:15] bertfrees commented on #53
OK. That's what the "stylesheet" option would be for then. (Note the slight difference in meaning between "default-stylesheet" and "stylesheet". "default-stylesheet" means changing the sheet that is always applied. "stylesheet" means specifying a sheet that is applied in addition. The "stylesheet" option would also accept URIs relative to the input context.)

A dropdown list is a possibility altho

[2015-09-03 09:16] bertfrees commented on #54
Would leaving a warning message be enough?

[2015-09-03 09:20] dkager commented on #54
If processing can be aborted on this warning, sure. But even if not it would be a good start. If some of the false negatives are cleared so the error log becomes shorter I think it's not a problem to scroll through it after conversion.

[2015-09-03 09:29] dkager commented on #53
OK, the `stylesheet` option sounds good. This would make it possible to use the same generic input document for multiple output formats. A dropdown list isn't important, it was just an idea.

[2015-09-08 13:16] bertfrees commented on #26
@jukkae I looked at your last few commits. I'm unsure whether we need to support `line-height` inside `@page`. We never said we were going to do this (see [specification](http://snaekobbi.github.io/braille-css-spec/master/index.html#the-line-height-property)). Setting double line spacing document-wide can also be accomplished with:

[code]

I know that in plain CSS `line-height` is probably also a

[2015-09-08 13:23] jukkae commented on #26
Hum, now that I think of it, it might not make much sense after all. Will check tomorrow what's the best course of action.

[2015-09-14 11:33] bertfrees opened #55 "Support non-standard hyphenation"
e.g. busstopp => buss-stopp

Because adding soft hyphens at all possible possible break points is not appropriate in this situation, there needs to be the possibility to defer hyphenation and translation to the formatting phase, i.e. when the text is actually broken into lines. We'll call this "inline translation" as opposed to "pre-translation". There needs to be a way to detect during a pre-hyph

[2015-09-21 17:57] bertfrees commented on #26
@jukkae: I've merged the double-line-spacing branch (a0875e1e7b27dc1ebf1b461f8ad77d16752129cf) and added commits 31a1b7f62896be04fd1997264986029cbea5a3a2 and f17e6372df9b6cd138b7696b74e881b1f53b8ca7 which add support for `@page:left` and `@page:right` in css-utils the way we have agreed on IRC. Now all that is left is to support `@page:left` and `@page:right` in dotify-formatter.

[2015-09-22 05:51] jukkae commented on #26
Ok, very good. I'll have a look at this today.

[2015-09-22 13:32] bertfrees commented on #26
See also https://github.com/joeha480/dotify/issues/132

[2015-09-23 20:29] bertfrees commented on #26
Merged in 9669b5d5f191d0fbeb57a2188e42620e45036a08

[2015-09-23 20:29] #26 closed, assigned to jukkae

[2015-09-29 12:05] bertfrees commented on #11
Another use case is `[xml|space=preserve] { ... }`, see https://github.com/snaekobbi/sprints/issues/117 and https://github.com/daisy/pipeline-mod-braille/issues/53.

[2015-10-01 12:33] dkager opened #56 "Output BRF for specific embosser braille tables"
Support the generation of a BRF-file that will lead to the correct output when used with a printer and a particular braille table. This allows existing conversion software that outputs BRF-files to be used alongside the DP2 system without changing braille tables on the printer.
- [x] Braille table for Dedicon: nl_braillo_brf.py (provided as a Python list).
  [nl_braillo_brf.py](https://github.com/

[2015-10-01 12:54] bertfrees commented on #56
Thanks for the python file.

[2015-10-05 08:21] #52 closed, assigned to bertfrees

[2015-10-05 13:03] bertfrees opened #57 "Invent a translator property or feature for handling undefined characters"
As a start, the liblouis based translator could support a property called `-louis-undefined` which would map to a liblouis "undefined" rule. A table file with a single "undefined" rule would be generated on the fly. The value of `-louis-undefined` should be a [`<braille-character>`](http://snaekobbi.github.io/braille-css-spec/#dfn-braille-character). Possibly we can allow additional values such as

[2015-10-05 19:31] bertfrees commented on #54
@dkager Maybe this is something you can look into when you have time?

[2015-10-05 19:32] bertfrees commented on #56
Related: https://github.com/daisy/pipeline-mod-braille/issues/47

[2015-10-05 19:32] bertfrees commented on #56
@dkager Maybe this is another thing you can look into when you have time?

[2015-10-06 06:11] dkager commented on #56
Would this go into DTBook-to-PEF, since it’s already generating a BRF?

[2015-10-06 08:10] dkager commented on #57
Does the dash prefix in `-louis-undefined` work already?

I'm a bit hesitant to use a temporary table file to compile the `undefined` rule. Programmatically compiling this rule is a bit cleaner, but as discussed on IRC it may not work correctly in liblouis 2.6.4.

Another question is if we need this generality. NLB already implemented this in their module (pipeline-mod-nlb#6) and Celia/Dedicon cou

[2015-10-06 08:22] bertfrees commented on #57
OK, fine by me. I'm not against keeping things simple. I thought this could be a good way to enable/disable the alert feature (https://github.com/snaekobbi/pipeline-mod-braille/issues/54).

Let's keep it in mind for later then.

The dash prefix is just an arbitrary thing, nothing special happens with it. It's not automatically filtered out for non-Liblouis translators or something like that, if th

[2015-10-06 08:44] bertfrees commented on #56
I thought it could go in dotify-formatter and pef-utils (pef:store). dotify-formatter would add metadata to the PEF, pef-utils would use this metadata to select the right character set for the BRF, as explained in https://github.com/daisy/pipeline-mod-braille/issues/47.

But on second thought, choosing the character set is maybe not really a formatter task. It does make sense that a (custom) forma

[2015-10-06 08:47] dkager commented on #57
I meant to ask if the parser supports it.

Are you suggesting that alerting the user of unknown characters should be enabled automatically if the CSS property `-louis-undefined` is used? That works, but IMO the alerting should be a configuration option (as should be the logging level in general).

[2015-10-06 08:55] dkager commented on #56
Using pef-utils to output...brf. Maybe brf-utils?

What do you think the table format should be, something in XML? Or using liblouis to translate Unicode braille to ASCII? Then it seems easier to have a dedicated track for BRF that adds e.g. nl-NL.dis to the liblouis table list. But maybe that's overkill since the conversion from PEF is well-defined.

[2015-10-06 09:12] bertfrees commented on #56
pef-utils is a collection of tools that convert from/to PEF / Unicode braille, and the conversion to BRF is also a part of that. pef-utils is basically a wrapper around Joel's [brailleutils](https://code.google.com/p/brailleutils/).

The table format can be anything. All that a table needs to do is implement the `org.daisy.braille.api.table.Table` interface, and it should be query-able by a `org.d

[2015-10-06 09:46] bertfrees commented on #57
No I meant if `-louis-undefined:abort` is used. But maybe you are right that it should be a general configuration option. And maybe you want to use a fallback character AND alert the user.

[2015-10-06 10:12] dkager commented on #56
Maybe point `brf-table` to your liblouis TableProvider and introduce another option to specify the actual table? It seems all agencies are comfortable with using liblouis so that would be a logical extention. Is your liblouis TableProvider up somewhere so I can have a look?

Or query `org.daisy.braille.impl.table.DefaultTableProvider` for the right table maybe, since these tables won't likely chan

[2015-10-06 10:49] bertfrees commented on #56
No need for two options. All available providers are used when selecting the table in pef:store (pef:pef2text). See https://github.com/daisy/pipeline-mod-braille/blob/master/pipeline-braille-utils/pef-utils/pef-calabash/src/main/java/org/daisy/pipeline/braille/pef/calabash/impl/PEF2TextStep.java.

Liblouis backed tables can be queried with e.g. `(liblouis-table:'nl.dis')`.

The tables in `org.dais

[2015-10-06 10:50] bertfrees commented on #56
Using xml:lang sounds good enough for a default.

[2015-10-06 12:42] dkager commented on #56
But the Braillo table may differ from the Index (though the latter can print PEF out-of-the box I believe). I don't think every locale specifies an ASCII braille standard. For example, the Dutch number sign is dots 3456, which you'd expect to appear as `#` in a BRF-file. But on Dedicon's printers you actually have to use `%`.

[2015-10-07 10:14] bertfrees commented on #11
Another use case is `[brl|class=foo] { ... }`. Question: should it be possible to match this with `.foo` instead?

[2015-10-07 10:38] bertfrees commented on #11
The answer is no, see http://www.w3.org/TR/css3-selectors/#attrnmsp: `[attr]` == `[|attr]`

[2015-10-07 18:55] bertfrees commented on #11
See commits https://github.com/snaekobbi/jStyleParser/compare/68564274a72d31416f360de7217e52313ce543d0...7c587629f5b70f61a46df121aeff5ff3d2ce783c

[2015-10-08 06:44] dkager commented on #11
Awesome! And I just realized it uses ANTLR which I had been meaning to have a brief look at anyway.
I will happily test my use case (xml|space) whenever you want.

[2015-10-12 11:17] dkager commented on #56
Added the NL Braillo table in joeha480/brailleutils#62. Now what is left is to use the `com_braillo.BrailloTableProvider`. Should probably be an option in the (web) UI.

[2015-10-13 08:08] dkager commented on #56
Order of precedence (highest to lowest):
1. The value specified with `ascii-table`.
2. The value specified with `<dp2:ascii-table/>` PEF metadata field.
3. The value derived from `xml:lang`. Probably pass it on directly. Or should we do `xml:lang="de"` --> `de.dis`? The value of `locale` should override this, so they boil down to the same internal variable.
4. A sane default. Rely on the default o

[2015-10-13 08:14] bertfrees commented on #56
If (1) and (2) are empty, I'd say (3) and (4) can be implemented by using `(locale:foo)` as the query, and creating a TableProvider that supports locale and defaults to en-US.

[2015-10-13 08:21] dkager commented on #56
The DefaultTableProvider has en-US and seems to be the logical point of extension for (4).

[2015-10-13 10:39] dkager commented on #56
WRT (3):
How should non-existent table IDs be handled? E.g. you set `xml:lang="de"` but no table with ID `de` exists. Right now this causes a conversion error. Better would be to fall back to en-US, but my guess is that this needs a change in brailleutils. To somewhat mitigate the issue it's probably best to only search the default table provider based on `xml:lang`. But again this s problematic b

[2015-10-13 10:46] bertfrees commented on #56
Right. Currently an error "Could not find a table for query: ..." is thrown. Instead of throwing an error we can just use the brailleutils default (en-US). See [PEF2TextStep.java#L93](https://github.com/daisy/pipeline-mod-braille/blob/master/pipeline-braille-utils/pef-utils/pef-calabash/src/main/java/org/daisy/pipeline/braille/pef/calabash/impl/PEF2TextStep.java#L93). Just replace this line with e

[2015-10-13 10:49] bertfrees commented on #56
By the way the query shoud not be `(id:de)` but `(locale:de)`.

[2015-10-15 12:57] #11 closed, assigned to bertfrees

[2015-10-15 13:30] bertfrees commented on #51
See https://github.com/daisy/pipeline-mod-braille/commit/a37d7daf247975776b3b969b1f1c5ed76a61309a. Of most interest to you @joeha480  is probably the file [BrailleTranslatorFactoryServiceImpl.java](https://github.com/daisy/pipeline-mod-braille/blob/a37d7daf247975776b3b969b1f1c5ed76a61309a/pipeline-braille-utils/dotify-utils/dotify-formatter/src/main/java/org/daisy/pipeline/braille/dotify/impl/Brai

[2015-10-15 13:32] bertfrees commented on #31
See commit https://github.com/daisy/pipeline-mod-braille/commit/564361edee71696604c5c0e03c1ec39d2575b003

[2015-10-27 07:39] dkager opened #58 "Can't install liblouis-utils/liblouis-core to the Maven repository"
`cd pipeline-braille-utils/liblouis-utils && mvn install`

Error:

[code]

First guess: there are differences in `OSGI-INF/liblouis-native-<platform>.xml` that cause issues.

[2015-10-27 09:37] dkager opened #59 "Make liblouis-utils/liblouis-mathml build on Windows"
Update pipeline-braille-utils/liblouis-utils/liblouis-mathml/pom.xml:
- [x] Have the checkout and the script in an optional profile.
- [x] daisy#28

[2015-10-27 10:07] bertfrees commented on #59
Related: https://github.com/daisy/pipeline-mod-braille/issues/28

[2015-10-27 10:11] bertfrees commented on #59
- Either we could convert the bash script into Java, or more simple,
- we can make the bash script external (not part of the Maven build) and add the files that are checked out to the source.

Don't like so much your idea of having two counterparts.

[2015-10-27 10:47] bertfrees commented on #59
Or rather have the checkout and the script in an optional profile. This would also make the Maven build independent of SVN/Mercurial (https://github.com/daisy/pipeline-mod-braille/issues/28).

[2015-10-27 10:51] dkager commented on #59
I second this. I’ll look at it.

[2015-10-29 09:44] dkager commented on #56
Do we want this for html-to-pef and zedai-to-pef as well?

[2015-10-29 09:48] bertfrees commented on #56
Yes :)

[2015-10-29 11:37] bertfrees commented on #58
Got the same error after updating to Java 8.

[2015-10-29 12:12] bertfrees commented on #58
Same problem in texhyph-core. But not in libhyphen-core because it doesn't use the annotations. The libhyphen-core tests pass which suggests this is more a BND problem than a Java problem.

[2015-10-29 12:17] bertfrees commented on #58
If this one error is the only problem of switching to Java 8, and it can be solved by removing the annotations and manually creating the SCR file again, that's an option, but I don't want to move to manual SCR files again for the whole project.

We can also just say in the build instructions that JDK8 is not allowed.

I don't exclude that there's a bug in my code, but I have no clue what that woul

[2015-10-29 12:39] dkager commented on #58
The only other issue I’ve had is with Javadoc doclint, but considering our goal of maintainability fixing those errors and warnings is actually a good idea I think.
Good to know it’s Java 8, this at least narrows the scope of the issue somewhat.

[2015-10-29 13:25] dkager commented on #56
Should be all done now and ready for merge.

[2015-10-29 13:30] bertfrees commented on #58
If it's a BND bug all we can do really is avoid the error by removing the annotations. If it's a bug in my code it basically comes down to the same thing. As said above it's an acceptable solution as long as it's just these one or two classes. Will you have a look or should I? We have to verify that all the modules build with Java 8.

[2015-10-29 13:58] bertfrees commented on #56
Thanks. See also PR: https://github.com/daisy/pipeline-mod-braille/pull/56.

Before I merge we should probably make a release of braille-utils.impl. @joeha480? (see https://github.com/joeha480/brailleutils/pull/62).

Also I'm still not convinced that LiblouisDisplayTableProvider should not support the "locale" feature. If someone adds a display table and claims it contains the ASCII charset for a

[2015-10-29 14:12] dkager commented on #58
Since I have Java 8 I can have a look but that’ll be on Monday. So if you find time before then that’d be appreciated. :)

[2015-10-29 14:14] dkager commented on #56
Liblouis responding to (locale:foo) is OK, but what if the table it finds (manifest/nl) isn’t the one I want? That is my only concern.

[2015-10-29 14:22] bertfrees commented on #56
I understand. But I think this is how providers should work. If a table matches your query, it means it can be used. If you want to be absolutely sure a specific table is selected, you should make the query more specific.

FWIW, manifest/nl will never be selected because the file name does not end with ".dis".

[2015-10-29 14:24] dkager commented on #56
In the test log I saw it was found, not sure if it was used. Feel free to add it back and we’ll see what it does. Maybe the liblouis (locale:foo) matching needs a bit of beefing up.

[2015-10-29 18:48] #58 closed, assigned to dkager

[2015-10-29 18:52] bertfrees commented on #56
Rebased on master and cleaned up.

[2015-11-02 08:41] dkager commented on #56
I think liblouis-core also matches:

[code]

E.g. in the manifest files. And if it doesn't, it probably should, else this tag has little use.
The question is what this table (and the nl-NL-g0.utb table that should back it)generates in terms of ASCII braille. I don't expect liblouis to adopt the code used by the Braillo embosser table, hence I added a new provider.

To summarize, my dilemma is that

[2015-11-02 09:02] dkager commented on #56
Hum, on further inspection it appears liblouis checks manifests only when translating into braille, and at some point it loads all manifests and gets really spammy. I guess matching only *.dis is fine then. At least it doesn't interfere with LocaleTableProvider. :-)

[2015-11-02 10:02] dkager commented on #56
I have another question. Why does LiblouisDisplayTableProvider contain this code?

[code]

Is the idea that either liblouis parses the entire query or nothing at all? In particular, what if you have `brf-table="(locale:nl)(line-breaks:DOS)"`? Is this code still accurate?

[2015-11-02 11:27] bertfrees commented on #56
I understand your concerns from a "predictability" point of view. If multiple instances match some query you can't know for sure one is chosen over the other. The first provider that presents itself wins. I chose this (initial) approach because it is simple and easy to understand. The rules are:
- when an instance matches a certain query, it means it can be used for that query, and
- every instanc

[2015-11-02 11:31] bertfrees commented on #56
The "line-breaks" part is handled by pef2text, LiblouisDisplayTableProvider will only see the rest of the query, namely `(locale:nl)`.

[2015-11-02 12:37] dkager commented on #56
To clarify, in my opinion the system should provide sensible defaults. In particular, for Dedicon:
- A translator (liblouis) and table (nl-NL-g0.utb).
- A formatter (dotify) and hyphenation table (nl).
- A brf-table (the Braillo table).

Chances that we will want to override any of the above on a book-to-book basis are very small. So the user shouldn't have to pass these to the system in every con

[2015-11-02 13:12] bertfrees commented on #56
Right. And if there were multiple implementations with differences we would figure out why and make the match functions more specific, e.g. nl-BE vs nl-NL.

A provider is completely responsible for what it returns based on a query. It can use "subproviders" that provide subcomponents, but breaking down the query and using the right parts for the right subproviders is the responsibility of the root

[2015-11-05 08:26] dkager opened #60 "Use managed versions of Maven plugins"
Eclipse gives me a lot of these warnings:

[code]

This is not an issue of course, one can ignore this warning. But it brings up the question if we need specific versions of plugins that are either the same as what it found anyway, or that are older without a comment describing why the newer version doesn't work. Can we rely on the 'managed' aspect and let the build system figure it out, e.g. as I

[2015-11-05 10:36] bertfrees commented on #60
This particular case (slf4j-jdk14) isn't a plugin but a test dependency. But anyway, regardless of what type of dependency but especially for build-time dependencies (which includes plugins and test dependencies), it is important that they are unambiguously defined in order to have deterministic builds. Sometimes it is possible to remove some version declarations because a parent already defines i

[2015-11-05 10:39] bertfrees commented on #60
Describing why the managed version is wrong is indeed a good idea. In this slf4j-jdk14 case I think I didn't know why the managed version didn't work.

[2015-11-05 10:50] dkager commented on #60
I haven’t had any issues thus far (which doesn’t say much), but please add stuff back that shouldn’t have been removed. I’m taking the dumb approach of trusting my IDE, so this will definitely not strip every version declaration.

[2015-11-05 11:51] dkager commented on #59
In 83c3f20. There are still failing tests mucking things up on Windows, but it's a step forward.

[2015-11-05 12:11] bertfrees commented on #59
Some comments:
- The profile should only work when activated explicitely with `-Pcheckout-tables`. Not sure if that's the case now.
- The generated files should be checked into git. I will take care of that. The README should also explain how to do this.
- Your XML editor messed up the indentation of the bash script so I suggest we move it to an external file to avoid that.

[2015-11-05 12:12] bertfrees commented on #59
Also (detail) the liblouis-mathml doesn't need to be activated because there were no real code changes (except for those warnings you fixed).

[2015-11-05 12:20] dkager commented on #59
Are you saying instead of activating on Unix the profile should be completely manual? In that case just remove the <os/> section. I’m still not sure why we don’t just put the tables in main/resources.

(There was a code change: I removed an unused variable. Oh ho ho!)

[2015-11-05 12:57] dkager commented on #59
OK, reopening. I will fix this either today or next week. It's a good way to get to know Maven.

[2015-11-05 13:05] bertfrees commented on #59
Yes that's exactly the plan. I'm going to take care of that. In addition I want to keep the script because it makes moving to a newer version easier.

I know... I mean if a module isn't going to be included in the next release it's preferable to have it deactivated so it's not build for no reason. Never mind, not a big deal.

[2015-11-05 13:12] dkager commented on #59
If you keep the script, let's add it in an optional profile as you said, and maybe use [this](http://www.mojohaus.org/exec-maven-plugin/exec-mojo.html). I tried this locally and while the script obviously doesn't run on Windows the plugin seems to be a lot easier to understand.

[2015-11-17 07:48] dkager commented on #56
The NL Braillo table still needs some supplement characters to better match Dedicon's current converter.

[2015-11-20 14:01] josteinaj opened #61 "dtbook-to-pef: "stylesheet" option should be a sequence of CSS-files instead of a string"
This would allow the user to pick CSS files using the correct widget.

[2015-11-20 14:06] bertfrees commented on #61
What would this mean in practice?

Currently the option is defined as followed:

In other words, it can reference a file in the context (relative URI) or a stylesheet defined in the system (absolute URI).

[2015-11-20 17:46] josteinaj commented on #61
Yes. In practice you would no longer be able to reference absolute URIs, but referencing relative URIs would be simpler (no typing, no typos).

[2015-11-20 18:26] bertfrees commented on #61
Hmm, I don't know. This would seriously limit the possibilities of the option.

Isn't this essentially a user interface problem? Or rather, the problem of not being able to express what the option means? The user interface doesn't know that the option can be a file or a list of files. We can solve this by adding a `px:input` attribute but that is not correct either because it would indeed mean abs

[2015-11-20 18:38] bertfrees commented on #61
This would mean you would have to change your multiple file selection widget a bit of course. I also have to add px:media-type="text/css" so that the option can be prefilled automatically.

[2015-11-23 08:49] josteinaj commented on #61
Yes, changing the script should be relatively straight forward. Add `px:type="anyFileURI"` to make the option a file input, and `px:media-type="text/css"` to make it suggest CSS files automatically.

Since the file widget would be automatically filled, we may need to handle the case where the CSS file is already referenced from the DTBook/HTML, and in that case probably don't add an additional imp

[2015-11-23 09:33] bertfrees commented on #61
Ah yes, good point. Not automatically filling optional arguments is maybe the best, yes.

Regarding `px:input` and `oneOrMore`: yes your suggestions are better, I was confused because we have `px:output`  and forgot that we have `px:sequence`.

Besided I think px:type should be deprecated in favor of px:data-type (or the other way around), because having both doesn't make much sense.

[2015-11-23 11:24] bertfrees commented on #31
See commit https://github.com/daisy/pipeline-mod-braille/commit/d2505f6c6561166361ba62862329c19bdffd7466

[2015-11-23 11:26] #31 closed, assigned to bertfrees

[2015-11-23 13:13] bertfrees commented on #57
See https://botbot.me/freenode/snaekobbi/2015-10-05/?msg=51168309&page=2

[2015-11-23 17:52] bertfrees commented on #24
Implementing letter-spacing in combination with pre-translation and hyphenation is somewhat challenging. (See also discussion at https://botbot.me/freenode/snaekobbi/2015-10-21.)

When word breaking is disabled, letter spacing can be applied in pre-translation simply by adding no-break spaces between letters: `f o o b a r` (` ` = nbsp).

When word breaking is enabled but the "hyphenate-character"

[2015-11-25 13:20] #47 closed, assigned to bertfrees

[2015-11-25 13:22] bertfrees commented on #10
This idea has been abandoned.

[2015-11-25 13:22] #10 closed, assigned to bertfrees

[2015-11-25 13:27] bertfrees commented on #23
Fixed in release 1.9.7.

[2015-11-25 13:27] #23 closed, assigned to nobody

[2015-11-27 18:07] bertfrees commented on #56
Fixed by https://github.com/daisy/pipeline-mod-braille/pull/56

[2015-11-27 18:07] #56 closed, assigned to dkager

[2015-11-30 08:10] dkager commented on #13
Any examples of how to use http://snaekobbi.github.io/braille-css-spec/master/obfl.html in practice? In particular, where would you put `-obfl-toc`.

What I'm missing there as well is a way to generate the TOC layout in the first place, i.e. `toc-entry`.

[2015-11-30 09:27] bertfrees commented on #13
This is what I had in mind with the `-obfl-toc` display value and the `-obfl-toc-range` property (let's ignore the `::-obfl-toc-group` pseudo element for now):

[code]

[code]

The idea is to automatically detect the `li` elements as the toc entries by inspecting the references they contain (in this case `target-counter(page, '#section_1')` and `target-counter(page, '#section_2')`).

[2015-11-30 09:33] dkager commented on #13
OK, so ignore toc-entry and its functionality? Also, this implies you have a TOC that is formatted like a list, as opposed to automatically generating the TOC for a braille volume based on e.g. the levels and headings structure.

[2015-11-30 09:33] bertfrees commented on #13
I can help you with the detection by the way, it's not very straightforward to do in XSL and I have done a similar thing before.

[2015-11-30 09:38] bertfrees commented on #13
To be clear: the `toc-entry` OBFL elements should be generated by us.

This indeed implies you already have a TOC. Automatically generating the TOC is a feature we can add later but doesn't necessarily have to done with CSS. See also https://github.com/snaekobbi/sprints/issues/69#issuecomment-157804658.

[2015-11-30 09:50] dkager commented on #13
Would it not be more straight-forward to do
-obfl-toc-entry {
                // all the attributes go here
                name: foo
}
ul.toc li {
                -match-obfl-toc-entry: foo
}

Or something similar?

[2015-11-30 10:09] dkager commented on #13
Here is part of a TOC as an example of how Dedicon marks this up (from a randomly selected book):

[code]

This would be printed unaltered. I don't think it makes sense to abstract a braille TOC from this.

[2015-11-30 12:07] bertfrees commented on #13
From a user perspective I would like to keep the CSS as simple as possible, and the system as smart as possible. Your proposal might be more straightforward from an implementation point of view (maybe), but for the user the `name` should be invisible. All the user cares about is that he can set the "TOC range".

Thanks for the Dedicon example TOC. If this is printed unaltered it does indeed not ma

[2015-11-30 14:15] dkager commented on #13
Yes, the user will only care about the TOC range. My idea was to provide a sort of template for toc-entry’s. I guess this could go into a toc at-rule. Will elaborate on this tomorrow.

[2016-01-04 11:08] bertfrees commented on #24
Fixed by v1.9.8

[2016-01-04 11:08] #24 closed, assigned to jukkae

[2016-01-04 11:13] bertfrees commented on #59
Fixed by 4cb07d5dd2a35fc0d0da345ad2617168ae30f6ef

[2016-01-04 11:14] #59 closed, assigned to dkager

[2016-01-04 18:42] bertfrees commented on #60
- [ ] To do: explain all version declarations in module POMs (such as slf4j-jdk14)

[2016-01-04 19:09] #51 closed, assigned to bertfrees

[2016-01-04 20:07] bertfrees commented on #42
This can be closed.

The pre-translation path now supports hyphenation (https://github.com/daisy/pipeline-mod-braille/issues/44). It does still not support text-level formatting, but I guess that is OK for now. When we need it (e.g. for e-braille or for the edit format) we'll create a new issue.

The translation-while-formatting path is now also supported (https://github.com/snaekobbi/pipeline-mod

[2016-01-04 20:07] #42 closed, assigned to joeha480

[2016-01-04 20:14] #38 closed, assigned to jukkae

[2016-01-04 21:51] bertfrees commented on #27
This works. I did not have to do anything special, because OBFL/Dotify already supported single- and double-sided printing. Currently I simply assume we're always printing double-sided (https://github.com/daisy/pipeline-mod-braille/commit/0b179a5bcd65d413e50ced3738283633b0834e5d), as is the case in CSS (https://github.com/snaekobbi/braille-css-spec/commit/7e863c33908109f5a517a8fd98de785a91b9c503),

[2016-01-04 21:58] bertfrees commented on #30
Margins are now collapsing in OBFL/Dotify, and padding (non-collapsing) has been added to OBFL/Dotify. What's left to do now is to map CSS padding to OBFL padding  and CSS margin to OBFL margin, instead of converting everything to margins.

[2016-01-04 22:02] bertfrees commented on #48
See also https://github.com/daisy/pipeline-mod-braille/commit/1301dac1c056ec60fe6bcc1d9592ce0e290e85d9 (Require-/Provide-Capability)

[2016-01-04 22:03] bertfrees commented on #48
See https://github.com/daisy/pipeline-mod-braille/commit/9d42257cdd31744f26f7eec96c767b7368c7be74 and https://github.com/daisy/pipeline-mod-braille/commit/de4f933847005dcbaefc6a3c1278aa84b54090d5 (makes API explicit in documentation).

Issue can be closed now.

[2016-01-04 22:03] #48 closed, assigned to nobody

[2016-01-05 07:44] dkager commented on #27
So you'd make the switch work on the PEF level, not by something in OBFL or a parameter for Dotify?
Does anyone need to set this through a meta field in the book? E.g. books for young children or beginner braille users may always need to be printed single-sided as per the product specifications. At first glance this extra flexibility looked useful to me but on further thought I think this belongs

[2016-01-05 09:49] bertfrees commented on #27
Yes I think it would be a parameter for Dotify.

[2016-01-05 09:51] bertfrees commented on #27
It will probably be a script option (useful for everybody, can be put in template) which could be overwritten by a meta field in a book if needed (useful for Dedicon).

[2016-02-11 21:12] bertfrees commented on #55
@usama49 hi!

I realize now that Libhyphen will not work in your development environment (Windows) so it's a bit hard for you to implement actual non-standard hyphenation rules. But let's start with preparing the system so that it can even handle non-standard hyphenators because it requires quite a different approach from how it works now. The actual hyphenation rules can be implemented later, for

[2016-02-12 12:12] usama49 commented on #55
@bertfrees  Hi,
I agree with your approach. Please add some tests.

[2016-02-12 19:48] bertfrees commented on #55
OK I've added a little test. Note that it is only intended to clarify the chosen approach, so you know where to start. I can add some more tests if things need to be clarified more.

[2016-02-19 09:06] bertfrees opened #62 "DTBook 1.1.0 to PEF script"

[2016-02-19 09:06] bertfrees commented on #45
For DTBook 1.1.0: see https://github.com/snaekobbi/pipeline-mod-braille/issues/62. Closing this one.

[2016-02-19 09:06] #45 closed, assigned to josteinaj

[2016-02-19 10:16] bertfrees commented on #15
The alternative is to use a `text-style` attribute (with `number-format="default"`) and to perform the styling/formatting on the string (which represents an integer). This means that:
1. We need some way to mark certain text segments as counters.
2. We need some way to distinguish special counter styles from regular text styles (CSS).

I can see two possibilities:
- Make counter styles of the form

[2016-02-19 11:46] josteinaj commented on #62
I don't think there should be any problem running DTBook 1.1.0 through the script; we can use the same CSS I believe. Should be tested of course.

[2016-02-26 13:04] bertfrees commented on #43
See https://github.com/daisy/pipeline-mod-braille/pull/79

[2016-03-09 16:25] josteinaj opened #63 "Implement generic mechanism for pre-processing XSLTs"

[2016-03-11 11:30] #63 closed, assigned to nobody

[2016-03-11 11:31] bertfrees commented on #63
@josteinaj: this is ready to use now.

[2016-03-11 11:32] bertfrees commented on #63
(typo)

[2016-03-11 11:35] bertfrees commented on #53
This should be fixed by https://github.com/daisy/pipeline-mod-braille/commit/3a08bf3517bcf85ca38610fa1919d00df3655067.

[2016-03-11 11:35] #53 closed, assigned to nobody

[2016-03-11 14:30] josteinaj commented on #63
Looks great, cool!

[2016-03-11 17:46] bertfrees commented on #12
Fixed by https://github.com/daisy/pipeline-mod-braille/commit/9f26907e6dd5a8c5373f0b4c0f7859cf8d7cdcc7

[2016-03-11 17:46] #12 closed, assigned to nobody

[2016-03-11 17:51] bertfrees commented on #43
PR was merged.

[2016-03-11 17:51] #43 closed, assigned to josteinaj

[2016-03-11 18:29] bertfrees commented on #27
Fixed by https://github.com/daisy/pipeline-mod-braille/commit/723ae48157c31f546e6529ef4ca3339a689029d2.

[2016-03-11 18:29] #27 closed, assigned to nobody

[2016-03-11 18:31] bertfrees commented on #9
Fixed by https://github.com/daisy/pipeline-mod-braille/commit/e09f6ce81e18bd214a598b27608b9d2b04f8c72e (volume endnotes) and https://github.com/daisy/pipeline-mod-braille/commit/8b920b468def90d683103e88ef21a816ec7dc86f (chapter endnotes).

[2016-03-11 18:31] #9 closed, assigned to bertfrees

[2016-03-11 18:40] bertfrees commented on #14
FIxed by https://github.com/daisy/pipeline-mod-braille/commit/0f300f13092d26e00022c10911b1e95f2930138d (tables rendered as lists) and https://github.com/daisy/pipeline-mod-braille/commit/627830c90ce09f015f83dd8c90d19baaccb84983 (matrix tables).

[2016-03-11 18:40] #14 closed, assigned to nobody

[2016-03-18 09:36] bertfrees commented on #15
Another possibility is to use "anonymous counter styles" (i.e. the [`symbols()`](https://www.w3.org/TR/css-counter-styles-3/#symbols-function) function), although it does not provide the full feature-set of the `@counter-style` rule.

**EDIT**: `symbols(...)` would then also become a value for `-dotify-counter-style`.

[2016-03-22 07:35] dkager opened #64 "Avoid placing empty headings in generated TOC"
Dedicon's books can contain these.

[2016-05-04 13:24] bertfrees commented on #30
See https://github.com/daisy/pipeline-mod-braille/issues/109

[2016-06-03 07:25] #30 closed, assigned to nobody

[2016-06-03 07:29] bertfrees commented on #55
Fixed in https://github.com/daisy/pipeline-mod-braille/commit/b33a9cc3cb3ad2f271b8d54690921ac8404c1096, https://github.com/daisy/pipeline-mod-braille/commit/07d73d9dec026ce6a7b3e9bb730959e4a67f7dc4, https://github.com/daisy/pipeline-mod-braille/commit/1d3ee56f1a1c6aa5a2e12e518858edcfcd169931

[2016-06-03 07:35] #55 closed, assigned to bertfrees

[2016-06-03 07:37] bertfrees commented on #15
See https://github.com/daisy/pipeline-mod-braille/commit/dde546f193e4135c9905b142b76e6c732bb9ea2c, https://github.com/daisy/pipeline-mod-braille/commit/fa1ddd72754ed4925211feba2738db84f4b569a4

[2016-06-28 06:51] dkager opened #65 "xml-to-pef: Implement option include-image-groups"
This looks very similar to e.g. include-line-groups. Dedicon only hides image groups under certain conditions (when they are empty), but a global toggle sounds potentially useful.

[2016-12-08 13:50] bertfrees commented on #20
To do:
- [x] https://github.com/liblouis/liblouis-java/issues/8
- [ ] Provider and Transformer services
- [ ] ...

[2017-01-19 15:16] bertfrees commented on #5
A better solution I think would be to put styles for different target media in different attributes.

[2017-05-09 13:45] bertfrees commented on #19
I think for now I will just implement this in XProc using the obfl.rng file.

Later, I could use the code in dotify.task.impl ([ValidatorTask.java](https://github.com/brailleapps/dotify.task.impl/blob/c2a533098f218d9acd119056b1143f84cfcc55e0/src/org/daisy/dotify/impl/input/ValidatorTask.java)). Joel is planning to create an interface for it and make it discoverable (currently it is in a private pa

[2017-07-27 15:59] bertfrees commented on #5
E.g. `<css:inline media="print" attribute-name="css:print-style"/>`

This should already be supported by `css:inline`.

A remaining question is how to support the print style in translators, because `pf:text-transform` only has one "style" parameter.

Note that media "print" was disabled in commit b63f7b8 because it wasn't being used in any translators anyway.

[2017-08-17 12:48] bertfrees commented on #19
See https://github.com/daisy/pipeline-mod-braille/issues/151

[2017-09-01 17:31] bertfrees commented on #20
The Liblouis issue has been fixed. Moving back to backlog for now.

[2018-01-19 10:22] bertfrees commented on #62
Moved to https://github.com/daisy/pipeline-mod-braille/issues/176

[2018-01-19 10:22] #62 closed, assigned to nobody

[2018-04-19 09:06] #19 closed, assigned to nobody

[2018-04-25 12:01] bertfrees commented on #50
Since c6f8e173ecf270d041d02ef6cc0300a45c9f58e0, the `pf:text-transform` function supports an optional "text-attributes" argument. Currently it is interpreted as the locale, but the idea is that we can extend it to a XSLT 3.0 map that can contain other semantic info: `map { 'locale': 'en' , ... }`.

[2018-11-09 10:58] bertfrees commented on #21
Replaced by https://github.com/daisy/pipeline-mod-braille/issues/99.

[2018-11-09 10:58] #21 closed, assigned to nobody